a{
    text-decoration: none;
    color: inherit;
}


body{
    background-color: #CBC9AD;
    font-family: 'Helvetica';
    height: max-content;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.myHeader{
    background-color: #514B23;
    color: #CBD0B9;    
    text-align: center;
    padding: 10px;
    margin: 0px;
}
h1.title{    
    text-align: center;
}


ul.myList{
    width: 50%;
    margin: 0 auto;    
    list-style-type: none;
}div.myDiv{
    text-align: center;    
}


h1{
    font-size: 36px;
    border: 2px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

p{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
}