body{
    background-color: #514B23;
    font-family: 'Helvetica';
    color: #CBC9AD;
}

#cardi{
    margin: 0 auto;
}

#progress_bar_container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
